# dependencies
/node_modules
node_modules/
**node_modules
*/node_modules/*

# production
/dist
build/
/build

# caches
.eslintcache
.eslint-loader-cache-webpack
__pycache__


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*/db.py

# Logs
*/logs/*
.log
yarn-error.log/
/yarn-error.log
*/yarn-error.log

#env files
.env
/.env
.env/
*/.env

# IDE stuff
.idea/

#Apple files
.DS_Store
._.DS_Store
*/.DS_Store
**/.DS_Store
**/._.DS_Store

# S3
/backend/S3/credentials.py