@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 125 950;
  font-stretch: 100%;
  font-style: normal;
}

.react-calendar {
  width: 100vw;
  max-width: 350px;
  background: #fafaf4;
  /* border: 1px solid #a0a096;
  border-radius: 0.5em; */
  font-family: 'Inter';
  line-height: 1.125em;
  font-weight: 200;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  border-radius: 0.5em;
  color: #f0f0f0;
}
.react-calendar__navigation button {
  min-width: 44px;
}
.react-calendar__navigation__arrow {
  font-size: x-large;
  background-color: #de5f4c;
  color: #fafaf4;
  border-radius: 50%;
  font-weight: 200;
}
.react-calendar__navigation__label {
  font-size: x-large;
  font-weight: 200;
  background-color: #fafaf4;
  color: rgba(0, 0, 0, 0.65);
}
/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #de5f4c;
}
.react-calendar__navigation button[disabled] {
  background-color: #de5f4c;
} */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.65);
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  border-radius: 2.5em;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  font-weight: 200;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background-color: #f7bcb3;
  border: thin;
  border-color: #de5f4c;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-color: #de5f4c;
}
.react-calendar__tile--hasActive {
  background: #de5f4c;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #de5f4c;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #de5f4c;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
