@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800&display=swap');

.serial {
  color: #002642;
  font-weight: 700;
  font-size: 30px;
  margin-top: 13px;
  margin-bottom: 5px;
}

.caption {
  font-weight: 200;
  font-size: 17px;
  color: #002642;
  margin-bottom: 6px;
  display: flex;
}

.edit-button {
  margin-left: 28px;
  margin-top: 10px;
  color: #de5f4c;
  font-size: 18px;
  cursor: pointer;
}

.icon {
  height: 128px;
  width: 91px;
  border-radius: 10px;
}

.ant-slider:hover .ant-slider-track {
  background-color: #023666;
}

.ant-slider .ant-slider-track {
  background-color: #023666;
}

.slider-tooltip {
  font-family: Inter;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.laundry-timer {
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  color: #023666;
  margin-bottom: 15px;
  margin-top: 20px;
}

.card-timer {
}

.timer-caption {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #023666;
}
